<!DOCTYPE html>
<html>
  <head>
    <title>IntroProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body>

    <div class="navbar">
      <ul>
        <li><%= link_to "Pokemon", root_path %></li>
        <li><%= link_to "Types", types_path %></li>
        <li><%= link_to "Egg Groups", egg_groups_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </div>
    <div>
      <%=form_tag(@pokemon, method: :get, :id => "form") do%>
        <%=text_field_tag(:search, params[:search])%>
        <%=submit_tag ("Search"), :id => "commit"%>
      <%end%>
    </div>
    <%= yield %>
  </body>
</html>

 <%# nav bar goes here %>
